extend layout/main

block header
  h1= title
  div
    a(href=repo)= repo

block content
  :markdown-it
    ## How to use

    ```js
    npm install koa-pug --save
    ```

    ```js
    const Koa = require('koa')
    const KoaPug = require('koa-pug')
    const app = nwe Koa()

    new KoaPug({
      viewPath: __dirname + '/views',
      debug: true,
      locals: global_locals_for_all_pages,
      helperPath: [
        'helpers/',
        { 'random': './lib/random.js' },
        { '_': require('lodash') }
      ],
      app
    })

    app.use(ctx => {
      ctx.render('index', locals_for_this_page)
    })

    app.listen(3000)
    ```

  h2 Helper demo:&nbsp;
    p.format-date
      = format(new Date())

block footer
  include partial/footer
