extend layout/main

block header
  h1= title
  div
    a(href=repo)= repo

block content
  :markdown-it
    ## How to use

    ```js
    npm install koa-pug --save
    ```

    ```js
    var koa = require('koa')
      , pug = require('koa-pug')
      , app = koa()

    app.use(pug.middleware({
      viewPath: __dirname + '/views',
      debug: false,
      pretty: false,
      compileDebug: false,
      locals: global_locals_for_all_pages,
      helperPath: [
        'helpers/',
        { 'random': './lib/random.js' },
        { '_': require('lodash') }
      ]
    }))

    app.use(function* () {
      yield this.render('index', locals_for_this_page)
    })

    app.listen(3000)
    ```

  h2 Helper demo:&nbsp;
    p.format-date
      = format(new Date())

block footer
  include partial/footer
