extend layout/main

block header
  h1= title
  div
    a(href=repo)= repo

block content
  :markdown
    ## How to use

    ```js
    npm install koa-jade --save
    ```

    ```js
    var koa = require('koa')
      , jade = require('koa-jade')
      , app = koa()

    app.use(jade.middleware({
      viewPath: __dirname + '/views',
      debug: false,
      pretty: false,
      compileDebug: false,
      locals: global_locals_for_all_pages,
      helperPath: [
        'helpers/',
        { 'random': './lib/random.js' },
        { '_': 'lodash' }
      ]
    }))

    app.use(function* () {
      yield this.render('index', locals_for_this_page)
    })

    app.listen(3000)
    ```

  h2 Helper demo:&nbsp;
    p
      = format(new Date())
    p
      = random(10, 1)
    p
      = _.first([1, 2, 3])


block footer
  include partial/footer
