doctype html
meta(charset='utf-8')
link(rel='stylesheet', href='//dn-staticfile.qbox.me/twitter-bootstrap/3.1.1/css/bootstrap.min.css')
title= page_title

.container
  block header

  block content

  block footer
